.cards {
  & > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: var(--space-base);

    & > li {
      border: 1px solid var(--highlight-background-color);
      background-color: var(--background-color);

      & img {
        width: 100%;
        aspect-ratio: 1.3333;
        object-fit: cover;
      }
    }
  }

  & .card-body {
    margin: var(--space-base);

    & > *:first-child {
      margin-top: 0;
    }
  }

  & .card-image {
    line-height: 0;
  }

  /* Stacked Variation */
  &:global(.stacked) {
    display: block;
    
    & > ul {
      display: block;

      & > li {
        margin-bottom: var(--space-base);

        & img {
          aspect-ratio: 3.3333;
        }
      }
    }
  }
}
