/* ========================================= 
             SPACING VARIABLES 
======================================== */

:root {
  --space-base: 1rem;
  --space-xxxxs: calc(0.125 * var(--space-base));
  --space-xxxs: calc(0.25 * var(--space-base));
  --space-xxs: calc(0.375 * var(--space-base));
  --space-xs: calc(0.5 * var(--space-base));
  --space-sm: calc(0.75 * var(--space-base));
  --space-md: calc(1.25 * var(--space-base));
  --space-lg: calc(2 * var(--space-base));
  --space-xl: calc(3.25 * var(--space-base));
  --space-xxl: calc(5.25 * var(--space-base));
  --space-xxxl: calc(8.5 * var(--space-base));
  --space-xxxxl: calc(13.75 * var(--space-base));
}