footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--text-body);

  & .footer {
    max-width: 1200px;
    margin: auto;

    & p {
      margin: 0;
    }
  }
}
